@model HOB_WebApp.Models.ServiceProviderModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            Type of Service
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.service)
        </dd>
        <dt class = "col-sm-2">
            Phone Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone_number)
        </dd>
        <dt class = "col-sm-2">
            Website Link
        </dt>
        <dd class="col-sm-10">
            <a href=@Html.DisplayFor(model => model.url) target="_blank" rel="noopener noreferrer">
                @Html.DisplayFor(model => model.url)
            </a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
