@model HOB_WebApp.Models.MobileUsers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MobileUsers</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Lname)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Lname)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Code)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Code)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.address)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.address)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.RegDate)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.RegDate)
		</dd>
	</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
