@model IEnumerable<HOB_WebApp.Models.MaintenanceReminders>

@{
	ViewData["Title"] = "Index";
}

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Login.css">
    <link rel="stylesheet" href="~/css/createActionPlan.css" />
    <link rel="stylesheet" href="~/css/maintenanceReminders.css">
</head>

<body>
    <div class="page-header">
        <div class='btn-toolbar float-right'>
            <div class='btn-group'>
                <a asp-action="Create"><button id="btnAddTag" type='button' class='btn btn-primary p-3' style="font-size:17px"><i class="fa fa-plus-circle icon"></i>Create New Maintenance Reminder</button></a>
            </div>
        </div>
        <h1 class="maintenance-reminder-header">Maintenance Reminders</h1>
    </div>
    <div class="combined-container">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Reminder Title
                    </th>
                    <th class="text-center">
                        Description
                    </th>
                    <th class="text-center">
                        Action Plan
                    </th>
                    <th class="text-center">
                        Notification Frequency
                    </th>
                    <th class="text-center">
                        Season
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reminder)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.ActionPlanTitle)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.NotificationInterval)
                    </td>
                    <td class="text-center">
                        @if (item.SeasonSpring == "false" || item.SeasonSummer == "false" || item.SeasonFall == "false" || item.SeasonWinter == "false") {
                        @if (item.SeasonSpring == "false" && item.SeasonSummer == "false" && item.SeasonFall == "false" && item.SeasonWinter == "false") {
                        <text>All Year</text>
                            }
                        @if (item.SeasonSpring == "true") {
                        <text>Spring</text>
                            }
                        @if (item.SeasonSummer == "true" && (item.SeasonSpring == "true")) {
                        <text>, Summer</text>
                            }
                            else {
                                if (item.SeasonSummer == "true") {
                        <text>Summer</text>
                                }
                            }
                        @if (item.SeasonFall == "true" && (item.SeasonSummer == "true" || item.SeasonSpring == "true")) {
                        <text>, Fall</text>
                            }
                            else {
                                if (item.SeasonFall == "true") {
                        <text>Fall</text>
                                }
                            }
                        @if (item.SeasonWinter == "true" && (item.SeasonSummer == "true" || item.SeasonFall == "true" || item.SeasonSpring == "true")) {
                        <text>, Winter</text>
                            }
                            else {
                                if (item.SeasonWinter == "true") {
                        <text>Winter</text>
                                }
                            }
                        }
                        else {
                        @if (item.SeasonSpring == "true" && item.SeasonSummer == "true" && item.SeasonFall == "true" && item.SeasonWinter == "true") {
                        <text>All Year</text>
                            }
                        }
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="delete-maintenance-reminder">Delete</a>
                    </td>
                </tr>
				}
            </tbody>
        </table>
    </div>
</body>

</html>
