@model IEnumerable<HOB_WebApp.Models.MaintenanceReminders>

@{
	ViewData["Title"] = "Index";
}

<html>
<head>
	<link rel="stylesheet" href="~/css/maintenanceReminders.css">
</head>

<body>
	<div class="maintenance-reminder-container">
		<h1 class="maintenance-reminder-header">Maintenance Reminders</h1>

		<table class="table">
			<thead>
                <tr>
                    <th>
                        Home owner ID
                    </th>
                    <th class="text-center">
                        Reminder
                    </th>
                    <th class="text-center">
                        Description
                    </th>
                    <th class="text-center">
                        Notification Interval
                    </th>
                    <th></th>
                </tr>
			</thead>
			<tbody>

				@foreach (var item in Model)
                {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td class="text-center">
						@Html.DisplayFor(modelItem => item.Reminder)
					</td>
					<td class="text-center">
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td class="text-center">
						@Html.DisplayFor(modelItem => item.NotificationInterval)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.Id" class="delete-maintenance-reminder">Delete</a>
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</body>

</html>
