@model IEnumerable<HOB_WebApp.Models.UserReminders>

@{
    ViewData["Title"] = "Status";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/maintenanceReminders.css">
</head>

<body>
    <h1 class="maintenance-reminder-header">Reminder Status</h1>
    <h4><i>Click a user to view their reminder tasks</i></h4>
    
        <div class="combined-container">
            <table class="display responsive" id="jqueryTable">               
                <thead>
                    <tr>
                        <th class="never">
                            User Id
                        </th>
                        <th class="never">
                            Overdues
                        </th>
                        <th class="all">
                            First Name
                        </th>
                        <th class="all">
                            Last Name
                        </th>
                        <th class="all">
                            Address
                        </th>
                        <th class="all">
                            Reminder Status
                        </th>
                        <th class="all">
                            Remind Them!
                        </th>
                    </tr>
                </thead>

                <tbody>


                    @foreach (var user in ViewBag.MobileUsers) 
                    {
                    <tr>
                        <td>
                            @Html.Raw(user.Id)
                        </td>         
                        @{int counter = 0;}
                        @{bool overdue = false;}
                        @{bool notOverdue = false;}
                        @foreach (var item in Model)
                        {
                            @if (overdue != true)
                            {
                                @if (item.UserId == user.Id && item.Completed == "Overdue")
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Completed)                                       
                                    </td>
                                    overdue = true;
                                    counter++;
                                }                                     
                            }
                        }
                        @if (counter == 0) 
                        {
                            <td>
                                @Model.FirstOrDefault(x => x.Completed != "Overdue")
                            </td>
                        }
                        <td>
                            @Html.Raw(user.FName)
                        </td>
                        <td>
                            @Html.Raw(user.Lname)
                        </td>
                        <td>
                            @Html.Raw(user.address)
                        </td>

                        @{int count = 0;}
                        @foreach (var item in Model)
                            {
                        @if (item.UserId == user.Id && item.Completed == "Overdue")
                                {
                                    count++;
                                }
                            }
                        @if (count > 0)
                            {
                        <td>
                            @count Overdue
                        </td>
                            }
                        @if (count == 0)
                            {
                        <td>
                            None overdue
                        </td>
                            }
                        @if (count > 0)
                        {
                        <td class="all">
                            @*Empty for the Reminder Notification column*@
                        </td>
                        }
                        @if (count == 0)
                        {
                        <td id="hide">
                            @*Empty for the Reminder Notification column*@
                        </td>
                        }



                        <!--<td>-->
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                        @*<a asp-action="UserReminderDetails" asp-route-id="@item.Id">Details</a>*@
                        @*<a asp-action="Delete" asp-route-id="@item.Id" class="delete-maintenance-reminder">Delete</a>*@
                        <!--</td>-->
                    </tr>
                    }
                </tbody>
            </table>
        </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>



    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>


    <script>
        $(document).ready(function () {
            var table = $('#jqueryTable').DataTable({
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "columns": [
                    { "id": "Id" },
                    { "id": "Completed" },
                    { "id": "FName" },
                    { "id": "Lname" },
                    { "id": "address" },
                    { "id": null },
                    { "id": null },
                ],
                "columnDefs": [{
                    targets: [-1], render: function (a, b, data, d) {
                        if (data[1] == "Overdue") {
                            return "<button type='button'>Send Notification</button>";
                        }
                        return "";
                    }
                }]
            });

            $('#jqueryTable').on('click', 'tr', function () {
                $(this).closest('tr').toggleClass('selected');
                data = table.row(this).data();
                performAction(data[0]);
            });

            $('#jqueryTable tbody').on('click', 'button', function (e) {
                e.stopPropagation();
                var userInfo = table.row($(this).parents('tr')).data();
                sendNotification(userInfo[0], userInfo[1], userInfo[2]);
            });

            function performAction(data) {
                window.location.href = '@Url.Action("ViewUserStatus", "MaintenanceReminder")/' + data;
            }

            function sendNotification(userId, userFName, userLName) {                
                // Send a GET request to the ManualNotificationAPI to create a notification for the specific user
                $.ajax({
                    type: 'GET',
                    url: 'https://habitathomeownerbuddy.azurewebsites.net/api/ManualNotificationAPI?id=' + userId,
                    contentType: 'json',
                    success: function () {
                        alert('Notification sent to ' + userFName + ' ' + userLName + '!');
                    }
                });
            }
        });
    </script>
}